@import url(https://fonts.googleapis.com/css?family=Open+Sans);

html,
body {
  margin: 0;
  font-family: Open Sans;
}

.container {
  display: flex;
}

.is-1 {
  width: 15%;
  height: 100vh;
  position: fixed;
  background-color: #111418;
}

.is-2 {
  width: 85%;
  padding-left: 15%;
  height: 100vh;
  background-color: royalblue;
}

/* MENU */
.menu-container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.menu-img {
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-img img {
  border-radius: 10%;
  width: 70%;
}

.menu-list {
  color: #ffff;
  text-decoration: none;
  text-align: center;
}

.menu-list ul {
  text-decoration: none;
  list-style: none;
}

.menu-list li {
  padding-top: 20px;
  font-size: 25px;
  color: #ffff;
}

.menu-list a {
  color: #ffff;
  text-decoration: none;
}

.menu-footer {
  text-align: center;
  color: #ffff;
}

/* Banner IMG */

.banner-img {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner-img span {
  color: #ffff;
  font-weight: bold;
  font-size: 50px;
}

.banner-img-inner {
  width: 500px;
  overflow: hidden;
}
.banner-img span {
  position: absolute;
  border-left: 1px solid #000;
  animation: escribir 5s steps(30) infinite alternate;
  text-overflow: '|';
  overflow: hidden;
  white-space: nowrap;
}

@keyframes escribir {
  from {
    width: 40%;
  }
  to {
    width: 0;
  }
}

/* ABOUT */

.about-container {
  background-color: #212529;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.about-columns {
  display: flex;
  margin: 0px 200px 0 200px;
}

.about-col-item {
  padding: 50px;
  font-size: 20px;
}

.about-col-item ul {
  text-decoration: none;
  list-style: none;
}

.about-col-item li {
  padding-bottom: 30px;
}

.about-col-item strong {
  color: #dc3545;
}

.about-col-item h3,
.about-container h1 {
  color: #20c997;
}

/* SKILLS */

.skills-container {
  background-color: #ffff;
  width: 100%;
  padding-top: 100px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}

.skills-columns {
  display: flex;
  margin: 0px 200px 0 200px;
}

.skills-col-item {
  padding: 50px;
  font-size: 20px;
}

.skills-col-item ul {
  text-decoration: none;
}

.skills-col-item li {
  padding-bottom: 30px;
}

.skills-col-item strong {
  color: #374d66;
}

.skills-col-item h3,
.skills-container h1 {
  color: #20c997;
}

/* WORK */

.work-container {
  background-color: #212529;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
}

.work-item {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.work-item:hover {
  border: 1px solid #777;
}

.work-item img {
  width: 100%;
  height: 250px;
}

.work-item-text {
  padding: 15px;
  text-align: center;
  z-index: 1000;
}

.work-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

//

@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body {
  background: rgb(30, 30, 40);
}
form {
  max-width: 420px;
  margin: 50px auto;
}

.contact-input {
  color: white;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #cc6666;
  padding: 15px;
  margin-bottom: 15px;
  width: 100%;
}

.contact-input:focus {
  border: 2px solid #cc4949;
}

.contact-button {
  background: #cc4949;
  border: 0;
  width: 100%;
  border-radius: 5px;
  padding: 10px 0;
  font-size: 30px;
  color: white;
}



.contact-container {
  background-color: #ffff;
  height: 100vh;
  width: 100%;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000;
}